In [1]:
import pandas as pd

/Users/KaylaDong/.pyenv/versions/3.8.5/envs/ca-waste-data-3.8.5/lib/python3.8/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [6]:
report_2020 = pd.read_excel('raw_data/LandfillSummaryTonnage - 2020.xlsx', skiprows=4)

`NaN` - Not a Number

In [7]:
report_2020

,County,Unnamed: 1,1st Quarter,2nd Quarter,3rd Quarter,4th Quarter,2020 Total
0,Alameda,NaN,296675,271586,307672.0,NaN,875933
1,Butte,NaN,51657,39408,44225.0,NaN,135290
2,Calaveras,NaN,6695,9181,0.0,NaN,15876
3,Colusa,NaN,68,84,130.0,NaN,282
4,Contra Costa,NaN,193183,185661,203079.0,NaN,581923
5,El Dorado,NaN,0,0,318.0,NaN,318
6,Fresno,NaN,182617,176649,189898.0,NaN,549164
7,Glenn,NaN,0,0,0.0,NaN,0
8,Imperial,NaN,77872,74727,50544.0,NaN,203143
9,Inyo,NaN,5459,6236,6619.0,NaN,18314
10,Kern,NaN,501238,431162,412535.0,NaN,1344935
11,Kings,NaN,38703,80086,87868.0,NaN,206657
12,Lake,NaN,13089,13981,13925.0,NaN,40995
13,Lassen,NaN,5055,6087,6130.0,NaN,17272
14,Los Angeles,NaN,1527969,1553805,1668491.0,NaN,4750265
15,Madera,NaN,37635,55394,55250.0,NaN,148279
16,Marin,NaN,55590,55184,53597.0,NaN,164371
17,Mariposa,NaN,2790,2824,3238.0,NaN,8852
18,Mendocino,NaN,0,0,0.0,NaN,0
19,Merced,NaN,129114,119089,132443.0,NaN,380646
20,Modoc,NaN,56,286,464.0,NaN,806
21,Mono,NaN,4198,5304,8110.0,NaN,17612
22,Monterey,NaN,214064,195736,231240.0,NaN,641040
23,Napa,NaN,14755,9767,9223.0,NaN,33745
24,Orange,NaN,1318426,1276478,1295181.0,NaN,3890085
25,Placer,NaN,71490,0,74636.0,NaN,146126
26,Plumas,NaN,0,0,0.0,NaN,0
27,Riverside,NaN,1168535,1201789,1182619.0,NaN,3552943
28,Sacramento,NaN,270552,284115,35698.0,NaN,590365
29,San Benito,NaN,68569,61839,71182.0,NaN,201590
30,San Bernardino,NaN,489589,556158,476911.0,NaN,1522658
31,San Diego,NaN,765064,592195,605429.0,NaN,1962688
32,San Joaquin,NaN,339365,343291,351934.0,NaN,1034590
33,San Luis Obispo,NaN,68833,73025,76883.0,NaN,218741
34,San Mateo,NaN,135763,112804,130272.0,NaN,378839
35,Santa Barbara,NaN,91247,100357,110223.0,NaN,301827
36,Santa Clara,NaN,242249,219496,228406.0,NaN,690151
37,Santa Cruz,NaN,32979,37178,42980.0,NaN,113137
38,Shasta,NaN,66539,77164,34510.0,NaN,178213
39,Sierra,NaN,0,0,0.0,NaN,0
40,Siskiyou,NaN,0,0,0.0,NaN,0
41,Solano,NaN,369410,357275,395676.0,NaN,1122361
42,Sonoma,NaN,77345,76225,81800.0,NaN,235370
43,Stanislaus,NaN,68397,76260,72020.0,NaN,216677
44,Tehama,NaN,14256,14968,14860.0,NaN,44084
45,Trinity,NaN,0,0,0.0,NaN,0
46,Tulare,NaN,116917,127605,131003.0,NaN,375525
47,Ventura,NaN,449193,430186,439541.0,NaN,1318920
48,Yolo,NaN,43678,44062,NaN,NaN,87740
49,Yuba,NaN,73924,71032,88234.0,NaN,233190
50,Grand Total:,NaN,9700802,9425739,9424997.0,NaN,28551538